:root {
  font-family: Inter, 'PingFang SC', 'Microsoft Yahei', Avenir, Helvetica, Arial, sans-serif;
  color: #303133;
  background-color: #f5f7fa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: #409eff;
}
